:root {
  --primary: #03A9F4;
  --secondary: #EEF2F6;
  --primary-text: #242B2E;
  --secondary-text: #242B2ECC; /* #505558 */
  --success: #8BD001;
  --warning: #FF8E76;
  --danger: #FA624D;
  --hero-bg-color: #DEECF5; /* opacity 40% */
  --padding: 20px;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a {
  color: var(--primary-text);
  text-decoration: none;
}

section {
  overflow: hidden;
}

/* General classes */

/* Layout */
.container {
  width: 100%;
  padding: 0 20px;
  /* position: absolute; */
  display: inline-block;
  /* overflow: hidden; */
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-wrapper {
  margin: 35px 0;
}

.section-bg {
  width: 100%;
  position: relative;
  left: 0;
  overflow: hidden;
}

/* Menu */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {

}

.menu-link {
  display: block;
}

/* Buttons */
.btn {
  width: 126px;
  height: 42px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  background: var(--primary);
  box-shadow: 0px 3px 6px #0000000D;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-outline {
  color: var(--primary);
  background: #fff;
  border: 1px solid var(--primary);
  box-shadow: none;
}

.btn-secondary {
  color: var(--primary-text);
  background: var(--secondary);
  box-shadow: none;
}

.btn-large {
  width: 100%;
  height: 84px;
  font-size: 1.1rem;
}

/* Text */
.title {
  font-size: 3rem;
  line-height: 1em;
  font-weight: 900;
  letter-spacing: -0.06rem;
  color: var(--primary-text);
  margin: 0.625em 0;
  /* display: inline-block; */
  /* overflow: hidden; */
}

/* Title fix for extra small screens */
@media(max-width: 360px) {
  .title { font-size: 2.7rem;}
}

.subtitle {
  font-size: 2rem;
  line-height: 1.125em;
  font-weight: 700;
  letter-spacing: -0.04rem;
  color: var(--primary-text);
  margin: 0.625em 0;
}

.text {
  font-size: 1rem;
  line-height: 1.4em;
  color: var(--primary-text);
  margin: 1.1em 0;
}

.subtext {
  font-size: 0.85rem;
  line-height: 1.4em;
  color: var(--primary-text);
  margin: 0;
  margin-left: 12px;
  position: relative;
}

.subtext::before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  background: var(--primary);
  position: absolute;
  top: 0;
  left: -12px;
}

/* Modifiers */
.--white.subtext::before {
  background: #fff;
}

.--emphasized {
  font-weight: 600;
  font-style: italic;
}

.--white {
  color: #fff;
}

.--zindex2 {
  position: relative;
  z-index: 2;
}

/* Inputs */
.input-large {
  width: 100%;
  height: 92px;
  background: #fff;  
  border: 1px solid #707070;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-text);
  padding: 0 28px;
}

.input-large::placeholder {
  color: #C3C3C3;
}

.input-large:focus {
  /* border: 0; */
  /* outline: 3px solid #03A9F4FF;
  outline-offset: -1px; */
  outline: none;
  border-color: var(--primary);
  -webkit-box-shadow: 0 0 0 2px var(--primary);
  box-shadow: 0 0 0 2px var(--primary);
  transition: all 0.2s ease;
}
  
.input-large:invalid {
  border-color: var(--danger);
  -webkit-box-shadow: 0 0 0 2px var(--danger);
  box-shadow: 0 0 0 2px var(--danger);
  transition: all 0.2s ease;
}


/* Header */
.header {
  position: relative;
  z-index: 10;
}

.top-bar {
  width: 100%;
  height: 72px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: flex;
}

/* Hamburger Menu */
.menu-button {
  width: 23px;
  height: 17px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hamburger-bar {
  width: 23px;
  height: 1px;
  background: #242b2e;
  position: relative;
  top: 0;
}

.hamburger-bar::before,
.hamburger-bar::after {
  content: '';
  width: 23px;
  height: 1px;
  background: #242b2e;
  display: block;
  position: absolute;
  left: 0;
}

.hamburger-bar::before {
  top: 8px;
}

.hamburger-bar::after {
  bottom: 8px;
}

/* Back to original stage */
.menu-button .hamburger-bar {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.1s;
}
.menu-button .hamburger-bar:before {
  transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}
.menu-button .hamburger-bar:after {
  transition: bottom 0.1s 0.14s ease,
    transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* Activated */
.menu-button.is-active .hamburger-bar {
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(45deg);
}
.menu-button.is-active .hamburger-bar:before {
  top: 0;
  transition: top 0.1s ease, opacity 0.1s 0.14s ease;
  opacity: 0;
}
.menu-button.is-active .hamburger-bar:after {
  bottom: 0;
  transition: bottom 0.1s ease,
    transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(-90deg);
}

/* Menu */
.menu-container {
  width: 100%;
  background: #fff;
  position: fixed;
  top: -600px;
  left: 0;
  z-index: -1;
  transition: top 1s cubic-bezier(0,0,.2,1);
  overflow: hidden;
}

.menu-container.is-active {
  top: 72px;  
  transition: top 1s cubic-bezier(0,0,.2,1);
}

.menu {
  text-align: center;
  margin-top: 7px;
}

.menu-link {
  font-size: 1.5rem;
  padding: 13px 0;
}

.menu-link.is-active {
  font-weight: 800;
}

.guest-nav {
  display: flex;
  justify-content: center;
  margin: 27px 0 30px;
}

.guest-nav .menu-link {
  width: 90px;
  font-size: 0.85rem;
  font-weight: 600;
}

.btn-signup {
  margin-right: 20px;
}

.btn-try {
  position: relative;
  margin-top: 50px;
  margin-bottom: 20px;
}

.btn-try::before {
  content: '';
  display: block;
  width: 100vw;
  height: 1px;
  background: #DCDDDD;
  position: absolute;
  top: -20px;
}


/* Hero */
.hero {
  height: 1300px;
  background: var(--hero-bg-color);
  position: relative;
}

.btn-hero-cta {
  border-width: 2px;
}

.btn-hero-cta {
  margin-top: 30px;
}

.hero-bg {
  height: 700px;
  bottom: -30px;
}

.hero-bg-cards {
  width: 100%;
  height: 100%;
  background: url('../assets/cards.svg') 20% center no-repeat;
}
.hero-bg-mockup {
  width: 100%;
  height: 100%;
  background: url('../assets/mockup.png') 10% center no-repeat;
  position: relative;
  top: -80%;
}


/* Best phone */
.best-phone {
  height: 1135px;
  background: linear-gradient(204deg, #28469D 0%, #6C4FA6 100%);
  position: relative;
}

.search-device-label {
  display: block;
  margin: 1em 0 40px;
}

.search-device-label span {
  color: #FFFFFF80;
}

.search-device-label.subtext::before {
  display: none;
}

.best-phone-bg {
  height: 620px;
  bottom: 50px;
}
/* .best-phone-bg {
  width: 100%;
  height: 620px;
  position: absolute;
  bottom: 80px;
  left: 0;
  overflow: hidden;
} */

.best-phone-bg-phone {
  width: 100%;
  height: 620px;
  background: url('../assets/object-phone.svg') 45% center no-repeat;
}


/* Discover */
.cards {
  width: 100%;
  padding: 0;
}

.card {
  width: 100%;
  height: 288px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
  background: var(--secondary);
  padding: 30px;
}

.card:nth-of-type(even) {
  background: #fff;
}

.icon {
  width: 114px;
  height: 114px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 14px #0000001A;
  border-radius: 22px;
  margin: 0 auto;
}

.icon-title {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.015rem;
  color: #fff;
  margin-top: -10px;
}

.icon-img {
  margin-top: -10px;
}

.icon-compare {  
  background: linear-gradient(127deg, #53D1EF 0%, #1976D2 100%);
}

.icon-compare .icon-img {
  width: 55px;
  height: 70px;
  background: url('../assets/icon-compare.svg') center center/cover no-repeat;
}

.icon-explore {  
  background: linear-gradient(311deg, #03A9F4 0%, #7DF4D4 100%);
}

.icon-explore .icon-img {
  width: 55px;
  height: 70px;
  background: url('../assets/icon-explore.svg') center center/cover no-repeat;
}

.icon-indiegogo {  
  background: linear-gradient(134deg, #D39BEB 0%, #EA1579 100%);
}

.icon-indiegogo .icon-img {
  width: 75px;
  height: 90px;
  background: url('../assets/icon-indiegogo.svg') center center/cover no-repeat;
  margin-bottom: -10px;
  margin-top: -20px;
}

.icon-compare2 {  
  background: linear-gradient(127deg, #C186FC 0%, #8419D2 100%);
}

.icon-compare2 .icon-img {
  width: 55px;
  height: 70px;
  background: url('../assets/icon-compare.svg') center center/cover no-repeat;
}

.icon-ces {  
  background: linear-gradient(134deg, #EDC97D 0%, #E3755A 100%);
}

.icon-ces .icon-img {
  width: 55px;
  height: 70px;
  background: url('../assets/icon-ces.svg') center center/cover no-repeat;
}

.icon-kickstarter {  
  background: linear-gradient(324deg, #2BD9DE 0%, #2BDE73 100%);
}

.icon-kickstarter .icon-img {
  width: 55px;
  height: 70px;
  background: url('../assets/icon-kickstarter.svg') center center/cover no-repeat;
}

.card-title {
  font-size: 1.5rem;
  line-height: 1em;
  margin: 0.9em 0 0;
}

.card-text {
  margin: 5px 0 0;
}


/* Compare section */
.compare {
  height: 610px;
  background: linear-gradient(261deg, #53D1EF 0%, #1976D2 100%);
  position: relative;
  overflow: hidden;
}

.compare .container {
  position: relative;
  z-index: 2;
}

.compare-bg {
  height: 370px;
  position: absolute;
  bottom: 0;
}

.compare-bg > div {
  width: 375px;
  margin: 0 auto;
}

.compare-bg-phone4 {
  height: 370px;
  width: 525px;
  position: relative;
  left: -100px;
}


/* Integrate section */
.integrate .title-wrapper {
  margin-bottom: 0;
}

.integration-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.integration-card-logo {
  display: block;
  margin: 55px auto;
}

.integration-card-description {
  width: 100%;
  max-width: 300px;
  height: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px 30px 0 0;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5em;
  text-align: center;
  padding: 0 17px;
  position: relative;
}

.integration-card-description a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: underline;
}

.wordpress {
  background: #026087;
}

.shopify {
  background: #95BF47;
}

.youtube {
  background: #D32F2F;
}

.techspecs-api {
  background: var(--primary);
}

.wordpress::after,
.shopify::after,
.youtube::after,
.techspecs-api::after {
  content: '';
  display: block;
  position: absolute;
  left: 12px;
  bottom: 0;
  width: 100%;
  max-width: 300px;
  height: 322px;
  border-radius: 40px 40px 0px 0px;
  opacity: 0.1;
  z-index: -1;
}

.wordpress::after {
  background: linear-gradient(137deg, #026087 0%, #025E84 21%, #087CAD 100%);
}
.shopify::after {
  background: linear-gradient(140deg, #95BF47 0%, #A1EA1B 100%);
}
.youtube::after {
  background: linear-gradient(138deg, #D10404 0%, #FF0505 100%);
}
.techspecs-api::after {
  background: linear-gradient(137deg, #0991CE 0%, #00B0FF 100%);
}

.techspecsApi {
  width: 198px;
  margin: 0 auto;
  position: relative;
}

.techspecsApi::before {
  content: 'API';
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 3px;
  right: 0;
  color: var(--primary);
  font-size: 0.8rem;
  font-weight: 900;
}


/* Ideas section */
.ideas {
  padding: 20px 0;
}

.ideas .btn {
  margin: 24px 0;
}

.ideas .btn:last-of-type {
  background: #1976D2;
}


/* Footer */
.footer {
  color: var(--primary-text);
  background: #fff;
  padding-top: 35px;
  padding-bottom: 60px;
  border-top: 1px solid #EEE;
  overflow: hidden;
}

.footer .logo {
  width: auto;
  height: 68px;
  display: block;
  margin: 0 auto;
}

.footer-menus-wrapper {
  max-width: 380px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-wrapper {
  width: 45%;
  max-width: 140px;
}

.menu-wrapper.social {
  position: relative;
  top: -75px;
}

.menu-title {
  font-size: 1.25rem;
  margin: 1.5em 0 0.5em;
}

.footer-menu.menu {
  text-align: left;
}

.footer-menu .menu-link {
  font-size: 1rem;
  padding: 10px 0;
}

.legal {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
}


/* Media Quaries */
@media (min-width: 576px) {
  .hero {
    height: 1160px;
  }

  .best-phone {
    height: 1080px;
  }

  .compare {
    height: 540px;
  }
  .compare-bg-phone4 {
    left: -125px;
  }
}

@media(min-width:768px) {
  .container {
    padding: 0 40px;
  }

  .btn-large,
  .btn {
    /* width: 239px; */
    width: initial;
    display: inline-flex;
    padding: 0 52px;
  }

  .btn-signup {
    padding: 0;
  }

  .hero {
    height: 1150px;
  }

  .best-phone {
    height: 1100px;
  }

  .cards {
    padding: 0;
  }

  .form-group {
    position: relative;
  }

  .best-phone {
    height: 960px;
  }

  .search-device-input {
    padding-right: 180px;
  }
  
  .best-phone-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 0 30px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: 50%;
  }

  .card:nth-of-type(even) {
    background: var(--secondary);
  }

  .card:nth-of-type(2),
  .card:nth-of-type(3),
  .card:nth-of-type(6) {
    background: #fff;
  }

  .integration-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 688px;
    margin: 0 auto;
  }

  .ideas .subtitle {
    text-align: center;
  }

  .btn-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 660px;
    margin: 0 auto;
  }

  .ideas .btn {
    width: 320px;
    padding: 45px 0;
  }
}

@media (min-width: 992px) {
  /* General classes */
  .container {
    width: 530px;
    padding-right: 0;
    position: relative;
    z-index: 2;
  }

  .title {
    font-size: 4.5rem;
    line-height: 1.2em;
    margin-bottom: 0.35em;
  }

  .subtitle {
    font-size: 3rem;
    margin: 1em 0;
  }

  .text,
  .subtext {
    font-size: 1.25rem;
  }

  .section-bg {    
    position: absolute;
    bottom: initial;
    left: initial;
    top: 0;
  }

  /* Menu */
  .top-bar.container {
    width: 100%;
  }

  .menu-button,
  .menu-container .center {
    display: none;
  }

  .menu-container {
    width: auto;
    height: 100%;
    position: initial;
    top: initial;
    z-index: 1;
    display: flex;
    padding: 0;
  }

  .menu-container .menu {
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .menu-container .menu-item {    
    margin: 0 13px;
  }
    
  .menu-container .menu-item:first-of-type {
    margin-left: 0;
  }

  .menu-container .menu-item:last-of-type {
    margin-right: 0;
  }

  .menu-container .menu-link {
    font-size: 0.85rem;
    padding: 0;
  }

  .underline {
    position: relative;
  }

  .underline::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: width 0.5s ease;
  }

  .underline:hover::after,
  .underline:focus::after,
  .underline:active::after {
    width: 100%;
  }

  .menu-link.is-active {
    font-weight: initial;
  }
  
  .menu-link.is-active.underline::after {
    width: 100%;
  }

  .btn-signup {
    margin-left: 45px;
    margin-right: -15px;
  }


  /* Hero */
  .hero {
    height: 740px;
  }

  .hero-bg {
    right: -50%;
  }

  .hero-bg-cards {
    background-position: 5% center;
  }

  /* Best phone */
  .best-phone {
    height: 620px;
  }

  .best-phone .title {
    width: 550px;
  }

  .best-phone-bg {
    right: -30%;
  }

  
  /* Discover */
  .discover .title {
    width: 400px;
  }
  .cards {
    width: 100%;
    padding: 0;
  }

  .card {
    width: 33.3333333%;
  }
  
  .card:nth-of-type(2),
  .card:nth-of-type(3),
  .card:nth-of-type(6) {
    background: var(--secondary);
  }
  
  .card:nth-of-type(even) {
    background: #fff;
  }

  .card-title {
    font-size: 1.5rem;
    line-height: 1em;
    margin: 0.9em 0 0;
  }

  .card-text {
    font-size: 1rem;
  }


  /* Compare */
  .compare {
    height: 500px;
  }

  .compare-bg {
    right: 0;
    height: 100%;
  }

  .compare-bg-phone4 {
    width: auto;
    height: 830px;
    left: -100px;
    top: -270px;
  }


  /* Integrate */
  .integrate .title {
    width: 500px;
  }

  .integrate .subtext {
    width: 230px;
  }


  .integrate .container,
  .ideas .container,
  .footer .container {
    width: 100%;
  }

  .footer-menus-wrapper {
    max-width: 80%;
    left: 40px;
    margin: 0 auto;
  }

  .menu-wrapper {
    width: 25%;
  }

  .menu-wrapper.social {
    top: initial;
  }
  
  .legal {
    margin-top: 2rem;
  }
}

@media (min-width: 1200px) {  
  .top-bar {
    height: 110px;
  }

  .logo {
    height: 56px;
  }
}