:root {
  --primary: #03A9F4;
  --secondary: #EEF2F6;
  --primary-text: #242B2E;
  --secondary-text: #242B2ECC; /* #505558 */
  --success: #8BD001;
  --warning: #FF8E76;
  --danger: #FA624D;
  --hero-bg-color: #DEECF5; /* opacity 40% */
  --padding: 20px;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a {
  color: var(--primary-text);
  text-decoration: none;
}

/* General classes */

/* Layout */
.container {
  width: 100%;
  padding: 0 20px;
  /* position: absolute; */
  position: relative;
  z-index: 2;
}

/* Menu */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {

}

.menu-link {
  display: block;
}

/* Buttons */
.btn {
  width: 126px;
  height: 42px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  background: var(--primary);
  box-shadow: 0px 3px 6px #0000000D;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-outline {
  color: var(--primary);
  background: #fff;
  border: 1px solid var(--primary);
  box-shadow: none;
}

.btn-secondary {
  color: var(--primary-text);
  background: var(--secondary);
  box-shadow: none;
}

.btn-large {
  width: 100%;
  height: 84px;
  font-size: 1.1rem;
}

/* Text */
.title {
  font-size: 3rem;
  line-height: 1em;
  font-weight: 900;
  letter-spacing: -0.06rem;
  color: var(--primary-text);
  margin: 0.625em 0;
  display: inline-block;
}

.subtitle {
  font-size: 2rem;
  line-height: 1.125em;
  font-weight: 800;
  letter-spacing: -0.04rem;
  color: var(--primary-text);
  margin: 0.625em 0;
}

.text {
  font-size: 1rem;
  line-height: 1.4rem;
  color: var(--primary-text);
  margin: 1.1em 0;
}

.subtext {
  font-size: 0.85rem;
  line-height: 1.4em;
  color: var(--primary-text);
  margin: 0;
  margin-left: 12px;
  position: relative;
}

.subtext::before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  background: var(--primary);
  position: absolute;
  top: 0;
  left: -12px;
}

/* Modifiers */
.--white.subtext::before {
  background: #fff;
}

.--emphasized {
  font-weight: 600;
  font-style: italic;
}

.--white {
  color: #fff;
}

/* Inputs */
.input-large {
  width: 100%;
  height: 92px;
  background: #fff;  
  border: 1px solid #707070;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-text);
  padding: 0 28px;
}

.input-large::placeholder {
  color: #C3C3C3;
}


/* Header */
.header {
  position: relative;
  z-index: 10;
}

.top-bar {
  width: 100%;
  height: 72px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: flex;
}

/* Hamburger Menu */
.menu-button {
  width: 23px;
  height: 17px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hamburger-bar {
  width: 23px;
  height: 1px;
  background: #242b2e;
  position: relative;
  top: 0;
}

.hamburger-bar::before,
.hamburger-bar::after {
  content: '';
  width: 23px;
  height: 1px;
  background: #242b2e;
  display: block;
  position: absolute;
  left: 0;
}

.hamburger-bar::before {
  top: 8px;
}

.hamburger-bar::after {
  bottom: 8px;
}

/* Back to original stage */
.menu-button .hamburger-bar {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.1s;
}
.menu-button .hamburger-bar:before {
  transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}
.menu-button .hamburger-bar:after {
  transition: bottom 0.1s 0.14s ease,
    transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* Activated */
.menu-button.is-active .hamburger-bar {
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(45deg);
}
.menu-button.is-active .hamburger-bar:before {
  top: 0;
  transition: top 0.1s ease, opacity 0.1s 0.14s ease;
  opacity: 0;
}
.menu-button.is-active .hamburger-bar:after {
  bottom: 0;
  transition: bottom 0.1s ease,
    transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(-90deg);
}

/* Menu */
.menu-container {
  width: 100%;
  background: #fff;
  position: fixed;
  top: -600px;
  left: 0;
  z-index: -1;
  transition: top 1s cubic-bezier(0,0,.2,1);
  overflow: hidden;
}

.menu-container.is-active {
  top: 72px;  
  transition: top 1s cubic-bezier(0,0,.2,1);
}

.menu {
  text-align: center;
  margin-top: 7px;
}

.menu-link {
  font-size: 1.5rem;
  padding: 13px 0;
}

.menu-link.is-active {
  font-weight: 800;
}

.guest-nav {
  display: flex;
  justify-content: center;
  margin: 27px 0 30px;
}

.guest-nav .menu-link {
  width: 90px;
  font-size: 0.9rem;
  font-weight: 600;
}

.btn-signup {
  margin-right: 20px;
}

.btn-try {
  position: relative;
  margin-top: 50px;
  margin-bottom: 20px;
}

.btn-try::before {
  content: '';
  display: block;
  width: 100vw;
  height: 1px;
  background: #DCDDDD;
  position: absolute;
  top: -20px;
}


/* Hero */
.hero {
  height: 1300px;
  background: var(--hero-bg-color);
  position: relative;
}

.btn-hero-cta {
  border-width: 2px;
}

.btn-hero-cta {
  margin-top: 30px;
}

.hero-bg {
  width: 100%;
  height: 700px;
  position: absolute;
  left: 0;
  bottom: 60px;
  overflow: hidden;
}

.hero-bg-cards {
  width: 100%;
  height: 100%;
  background: url('../assets/cards.svg') 20% center no-repeat;
}
.hero-bg-mockup {
  width: 100%;
  height: 100%;
  background: url('../assets/mockup.png') 10% center no-repeat;
  position: relative;
  top: -80%;
}


/* Best phone */
.best-phone {
  height: 1135px;
  background: linear-gradient(204deg, #28469D 0%, #6C4FA6 100%);
  position: relative;
}

.search-device-input {
  margin-top: 36px;
}

.search-device-label {
  display: block;
  margin: 1em 0 40px;
}

.search-device-label span {
  color: #FFFFFF80;
}

.search-device-label.subtext::before {
  display: none;
}

.best-phone-bg {
  width: 100%;
  height: 620px;
  position: absolute;
  bottom: 80px;
  left: 0;
  overflow: hidden;
}

.best-phone-bg-phone {
  width: 100%;
  height: 620px;
  background: url('../assets/object-phone.svg') 45% center no-repeat;
}